@charset "UTF-8";

.conteudo{
    border-top: 3px solid #008e97;
    border-bottom: 3px solid #f58220;
    margin: 200px 0px 0px 250px;
    width: 800px;
}

.conteudo h2{
    font-family: 'Oswald', 'Times New Roman';
    font-size: 2em;
    font-weight: 400;
    text-align: center;
}

.conteudo p{
    font-family: system-ui;
    font-size: 1.1em;
}